#footer-icon {
    border-radius: 12px 12px 0 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-bottom: 1rem;
    align-items: center;
    margin: auto;
    max-width: 1200px;
    width: 97%;
}

#footer-avatar {
    border-radius: 50%;
    width: 60px;
    height: 60px;
    margin: 0 1rem;
    cursor: pointer;
    transition: all .25s;
}

.avatar-link {
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem;
    background-color: #363636e2;
    border-radius: 3rem;
}

#footer-avatar-left, #footer-avatar-right {
    display: flex;
}